editdistance==0.8.1
sacrebleu==1.5.1
wandb==0.19.1
tqdm == 4.67.1
torch==2.5.1
torchaudio==2.5.1
transformers==4.47.1
selenium==4.27.1
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.13.1
peft==0.14.0
pandas== 2.2.3
omegaconf==2.3.0
numpy==1.26.4
librosa==0.10.2.post1
flash_attn==2.7.4.post1
bitsandbytes == 0.45.0
aac-metrics ==0.5.4